.catimg{
    width: 18%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
   padding: 16px;
   margin-bottom: 3%;
   margin-left: auto;
   margin-right: auto;
}
.catimg:hover{
    transform: scale(1.2);
    background-color: #0e0e0e;

}
.load{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
   padding: 16px;
   margin-bottom: 3%;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   padding-left: 49%;
}
